html, body {
  background-color: black;
  color: yellow;
  font-family: monospace;
  text-align: center;
  font-size: 12;
}

iframe.headerBar{
  overflow: hidden;
  width:90%
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}


  
@media screen and (max-width: 500px) {
  iframe.headerBar{
  height:10%;
  }
}
