html, body {
  background-color: black;
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 12;
}

img {
  border-radius: 20px;
}

.headerBar{
  border-radius:30px;
  height:60px;
  width:90%;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

.footerBar{
  margin:0;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  right:0;
  width:90%;
  border:0;
}

.archive-table{
  margin: 0px auto;
  width: 40%;
  height: 400px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  align: center;
  color: white;
}

.archive-table tr:nth-child(odd){
  background-color: #556b2f;
}

.archive-table tr:nth-child(even) {
  background-color: #7F9160;
}

.archive-tr-title th{
  background-color: #303D1A;
}

.archive-table a {
  color: white;
}


.software-table{
  margin: 0px auto;
  width: 40%;
  height: 400px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  align: center;
  color: white;
}

.software-table tr:nth-child(odd){
  background-color: #556b2f;
}

.software-table tr:nth-child(even) {
  background-color: #7F9160;
}

.software-tr-title th{
  background-color: #303D1A;
}

.software-table a {
  color: white;
}

@media screen and (max-width: 500px) {
  .headerBar{
    height:300px;
    width:90%;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    border:0;
  }
}
