html, body {
  background-color: white;
  color: #D77F72;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 12px;
}

img {
  border-radius: 20px;
}

iframe.headerBar{
  margin:0; 
  left: -10px;
  padding:0; 
  position: sticky;
  position: -webkit-sticky;
  border:0;
  width:200%; 
  height:45px;
  overflow:hidden; 
  z-index:10;
}

iframe.footerBar{
  margin:0; 
  left: -10px;
  padding:0; 
  overflow: hidden;
  width:200%;
  border:0;
}
